{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["quiltt/typescript"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    },
    "project": "tsconfig.json"
  }
}
